@use './variables';
@use './mixins';

// === FORM MODULE (BEM + mobile-first)

.form {
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;


        @include mixins.tablet {
            grid-template-columns: repeat(3, 1fr);
        }

        @include mixins.desktop {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include mixins.tablet {
            flex-direction: row;
            gap: 0.5rem;
            width: 25%;
        }
    }

    &__input,
    &__select,
    &__textarea {
        display: block;
        background-color: white;
        color: variables.$dark-blue;
        border: 1px solid variables.$dark-blue;
        border-radius: 0.5rem;
        padding: 0.5rem 0.8rem;
        font-family: inherit;
        width: 100%;

        @include mixins.responsive-font(0.9rem, 1.1rem, 1.2rem);

        @include mixins.desktop {
            padding: 0.6rem 1rem;
        }
    }

    &__textarea {
        min-height: 1rem;
        resize: vertical;
        line-height: 1.4;
    }
}

// Désactivation
td.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}

// hints
.form__hint {
    display: inline-block;
    margin-top: 0.3rem;
    overflow-wrap: break-word;
    color: variables.$info;
    @include mixins.responsive-font(0.6rem, 0.8rem, 1rem);

    &--valid {
        color: green;
    }

    &--error {
        color: red;
    }
}