@use './variables';
@use './mixins';

// === SPECIAL PAGES -> Maintenance, Error404

.construction {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
        max-height: 65vh;

        @include mixins.desktop-lg {
            max-height: 70vh;
        }
    }
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img {
        max-height: 80vh;
    }

    &__link {
        font-weight: bold;

        &:hover {
            color: variables.$saffron;
            text-shadow: variables.$dark-blue 1px 0 10px;
        }

        @include mixins.responsive-font (2rem, 3rem, 4rem, 5rem);
    }
}

// === GLOBAL PAGES -> global wrapper
.page {

    &__title {
        margin-top: -2rem;
        padding: 1rem;
        background-color: variables.$pearl-white;
        padding-bottom: 1rem;

        @include mixins.responsive-font(2rem, 2.4rem, 2.8rem);
    }

    &__wrapper {
        background-color: white;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        padding: 2rem;
    }

    &__form {
        border-bottom: 0.5px solid variables.$light-blue;
        margin-bottom: 1rem;
    }
}

// === STOCK-SEARCH PAGE
.page__table-wrapper {
    @include mixins.desktop {
        overflow-y: auto;
        max-height: 70vh;
        position: relative;
    }
}

// === USER-CREATE PAGE 
.user {
    .form__grid {
        grid-template-columns: 1fr !important; // force 1 champ par ligne
    }
}

// pour stock-page
/*  // === pour le tableau 1ère colonne plus large ===
        &__th:nth-child(1),
        &__td:nth-child(1) {
            width: 25%;
            text-align: left;
        }

        &__th:not(:nth-child(1)),
        &__td:not(:nth-child(1)) {
            width: calc(75% / 6);
            text-align: center;
        }
*/

.stock-list {
    &__fieldset {
        flex: 1;
        border: none;
        margin: 0;
        padding: 0;

        .form__legend {
            font-weight: bold;
            text-align: center;
            margin-bottom: 0.5rem;
        }
    }

    &__radios {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        white-space: nowrap;
        gap: 1rem;
    }

    &__radio {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    &__actions {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        margin: 2rem 3rem;
    }
}