@use './variables';

@media print {

    @page {
        size: landscape;
        margin: 1.5cm;
    }

    body {
        font-size: 12px;
        color: variables.$dark-blue;
        background: white !important;
        margin: 0;
        padding: 0;
    }


    .stock-print table,
    .stock-print thead,
    .stock-print tbody,
    .stock-print tr,
    .stock-print th,
    .stock-print td {
        all: revert !important;
        display: revert !important;
    }

    .stock-print table {
        border-collapse: collapse !important;
        width: 100% !important;
        border: 1px solid variables.$dark-blue !important;
        font-family: variables.$text-font, sans-serif;
    }

    .stock-print th {
        background-color: variables.$dark-blue !important;
        color: white !important;
        text-align: center;
        padding: 0.5rem;
    }

    .stock-print td {
        text-align: center !important;
        padding: 0.5rem;
        color: variables.$dark-blue !important;
        border: none;
        border-bottom: 1px solid variables.$beige !important;
    }

    .stock-print tbody tr:nth-child(even) {
        background-color: variables.$light-blue !important;
    }

    .stock-print tbody tr:nth-child(odd) {
        background-color: white;
    }

    .stock-print td::before {
        display: none !important;
        content: none !important;
    }
}
